{% extends 'base.html' %}

{% block body %}
<div class ="container">
<form method="POST" action="/med">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Cough? <input type="checkbox" value="1" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Diarrhea? <input type="checkbox" value="2" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Chestpain? <input type="checkbox" value="3" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        High fever? <input type="checkbox" value="4" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Flu? <input type="checkbox" value="5" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Weakness? <input type="checkbox" value="6" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Myalgia? <input type="checkbox" value="7" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Headache? <input type="checkbox" value="8" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Nausea? <input type="checkbox" value="9" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Loss of taste? <input type="checkbox" value="10" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Swollen Lymph Node? <input type="checkbox" value="11" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            No appetite? <input type="checkbox" value="12" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Constipation? <input type="checkbox" value="13" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Abdominal pains? <input type="checkbox" value="14" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Swollen Lymph Node? <input type="checkbox" value="15" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Rash? <input type="checkbox" value="16" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Fever? <input type="checkbox" value="17" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Fatigue? <input type="checkbox" value="18" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Weight Loss? <input type="checkbox" value="19" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            Excess sweat? <input type="checkbox" value="20" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        </div>
        <div class="col">
        </div>
    </div>
<form method="POST" action="/">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <br>
            <input type="submit">
        </div>
        <div class="col">
        </div>
    </div>
</form>
</div>

{% endblock %}