{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">Are you a medical professional? 
            <button type="button" class="btn btn-primary btn-sm" method ="POST">Yes</button>
            <button type="button" class="btn btn-secondary btn-sm" method ="POST">No</button>           
        </div>
      </div>
    <!-- <div class="col">

    </div>
    <div class="col-5">
        Are you a medical professional? 
        <button type="button" class="btn btn-primary btn-sm">Yes</button>
        <button type="button" class="btn btn-secondary btn-sm">No</button>            
    </div>
    <div class="col">

    </div> -->
</div>
    
{% endblock %}