{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
            Hello, I am a:
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">
            <!-- <button type="button" class="btn btn-primary btn-sm" href="/Medical">Medical Professional</button> -->
            <a class="nav-link" href="/med">Medical Professional</a>
        </div>
        <div class="col-3">
            <!-- <button type="button" class="btn btn-primary btn-sm" href="/Non-Medical">Non-Medical Professional</button> -->
            <a class="nav-link" href="/non_med">Non-Medical Professional</a>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

{% endblock %}