{% extends 'base.html' %}

{% block body %}
<div class ="container">
<form method="POST" action="/non_med">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Cough? <input type="checkbox" value="1" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        High Fever? <input type="checkbox" value="2" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Chest Pain? <input type="checkbox" value="3" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Flu? <input type="checkbox" value="4" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Weakness? <input type="checkbox" value="5" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Myalgia? <input type="checkbox" value="6" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Headache? <input type="checkbox" value="7" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Swollen lymph node? <input type="checkbox" value="8" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Nausea? <input type="checkbox" value="9" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Diarrhea <input type="checkbox" value="10" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
        Loss of taste? <input type="checkbox" value="11" name="mycheckbox"><br>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <br>
            <input type="submit">
        </div>
        <div class="col">
        </div>
    </div>
</form>
</div>

{% endblock %}